@import '~bootstrap/scss/bootstrap.scss';

.Contacts-main{
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  @include media-breakpoint-up(md) {
    flex-direction: row;
  }
}
.Contacts-wrapper {
  width: 100%;
}